@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll-area::-webkit-scrollbar {
  display: none;
}

.custom-scroll-area {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
